//begin header
+b.HEADER.header
	+e.container.container
		+e.A.logo(href='#!')
			+e.IMG(src='static/img/other/logo.svg' alt='image')
		+e.NAV.nav
			-
				navList = [
				'о программе',
				'тренеры',
				'результаты',
				'стоимость'
				]

			ul
				for navText in navList
					li: a(href='#!')= navText

			+e.A.nav-link(href='#!') Войти
//end header